* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c2238;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex: 1;
  gap: 32px;
  max-width: 450px;
}
.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #262d47;
  border-radius: 16px;
  color: #ffffff;
}
.card .card-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex: 1;
  padding: 24px 24px 0 24px;
}
.card .card-body .chart-container {
  padding-top: 16px;
  height: 180px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.card-bitcoin .col-left {
  display: flex;
  align-items: center;
}
.card-bitcoin .col-left .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-225deg, #fdb135, #fa7b00);
  height: 44px;
  width: 44px;
  margin-right: 8px;
  border-radius: 12px;
}
.card-bitcoin .col-left .description h2 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
.card-bitcoin .col-left .description h4 {
  font-size: 12px;
  font-weight: 300;
  margin: 4px 0 0 0;
}
.card-bitcoin .col-right h2 {
  color: #ff9201;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
.card-bitcoin .col-right .percent {
  display: flex;
  justify-content: end;
  color: #ed3140;
  margin-top: 8px;
}
.card-bitcoin .col-right .material-icons {
  font-size: 16px;
  margin-top: -2px;
}
.card-bitcoin .col-right .text {
  font-size: 12px;
  font-weight: 300;
  margin-left: 4px;
}
